<!DOCTYPE html>
<html>
<head>
	<link href="/static/style.css" rel="stylesheet"/>
	<title>tEp Lates</title>
</head>
<body>
	<div class="date">
		<h1 id="date"></h1>
		<!-- <div id="print"></div>  -->
		<!-- TODO cross out -->
	</div>
	
	<!-- Tabs -->
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'post-late')">Make me a late</button>
		<button class="tablinks" onclick="openTab(event, 'get-late')">See all lates</button>
		<button class="tablinks" onclick="openTab(event, 'delete-late')">Delete my late</button>
	</div>
	<div id="post-late" class="tabcontent">
		<!-- <form id="late-form" name="late-form" action="/submit" method="POST"> -->
		<form id="late-form" name="late-form" action="/submit" method="POST">
			<label class="textbox-label">Name:
				<input type="text" name="name" id="name" required 
				oninvalid="this.setCustomValidity('Got a name?')" 
				oninput="this.setCustomValidity('')">
				<span class="textbox-custom"></span>
			</label>
			<label class="checkbox-label">
				<span class="checkbox-description">Please refrigerate my late</span>
				<input type="checkbox" name="refrigerate" id="refrigerate">
				<span class="checkbox-custom"></span>
			</label>
			<p>I can't/don't/won't eat this (Choose all):</p>
			<!-- TODO vegetarian/vegan buttons -->
			<label class="checkbox-label">
				<input type="checkbox" id="meat">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Meat &#127830;</span>
			</label>
			<ul>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" name="beef" id="beef" class="meat-sub">
						<span class="checkbox-custom"></span>
						<span class="checkbox-description">Beef &#128046;</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" name="chicken" id="chicken" class="meat-sub">
						<span class="checkbox-custom"></span>
						<span class="checkbox-description">Chicken &#128020;</span>
					</label>
				</li>
				<li>
					<label class="checkbox-label">
						<input type="checkbox" name="pork" id="pork" class="meat-sub">
						<span class="checkbox-custom"></span>
						<span class="checkbox-description">Pork &#128055;</span>
					</label>
				</li>
			</ul>
			<label class="checkbox-label">
				<input type="checkbox" name="fish" id="fish">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Fish &#128031;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="shellfish" id="shellfish">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Shellfish &#129408;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="dairy" id="dairy">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Dairy &#129371;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="eggs" id="eggs">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Eggs &#127859;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="nuts" id="nuts">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Nuts &#129372;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="gluten" id="gluten">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Gluten &#127806;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="soy" id="soy">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Soy &#127773;</span>
			</label>
			<br>
			<label class="checkbox-label">
				<input type="checkbox" name="veggies" id="veggies">
				<span class="checkbox-custom"></span>
				<span class="checkbox-description">Veggies &#129382;</span>
			</label>
			<br>
			<label class="textbox-label">Other
				<input type="text" name="other" id="other">
				<span class="textbox-custom"></span>
			</label>
			<br><br>
			<button type="submit" id="submit-late-form">Submit &#129425;</button>
		</form>
	</div>
	<div id="get-late" class="tabcontent">
		<table border = 1>
			<thead>
				<tr>
					<th>Name</th>
					<th>Restrictions</th>
					<th>Refrigerate</th>
				</tr>
			</thead>
			
			<tbody>
				{% for (name, restrictions, refrigerate, _) in db %}
				<tr>
					<th> {{ name }} </th>
					<td> {{ restrictions }} </td>
					{% if refrigerate == 1 %}
					<td> &#10004; </td>
					{% else %}
					<td></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>Be sure to refresh the page to see the lastest results!</p>
	</div>
	<div id="delete-late" class="tabcontent">
		
		<form id="delete-late-form" name="delete-late-form" action="/delete" method="POST">
			{% for (name, _, _, _) in db %}
			<button type=submit class="delete-name" name="delete-name" value="{{ name }}">{{ name }}</button>
			{% endfor %}
		</form>
	</div>
</body>

<!-- Scripts -->
<script src="/static/main.js"></script>
</html>