body {
    font-family: Georgia, serif;
    font-size: 18px;
    color: #800080;
    padding: 1em;
}
ul {
    list-style: none;
    margin: 0.2em;
}
label {
    cursor: pointer;
}
p {
    margin: 0.5em;
}
#date {
    padding-left: 10px;
}
.tab {
    display: flex;
    flex-wrap: wrap;
}
.tab button, #submit-late-form {
    font-family: Georgia, serif;
    background-color: #B300B3;
    border: 2px solid gold;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    padding: 0.5em 1em;
    font-size: 20px;
    color: gold;
}
.tab button:hover {
    background-color: #9A009A;
}
.tab button.active {
    background-color: #800080;
}
.tabcontent {
    display: none;
    font-size: 18px;
    padding: 0.5em;
}
#name {
    margin-right: 1em;
}
.checkbox-label {
    position: relative;
    cursor: pointer;
    /* font-size: 18px; */
    height: 18px;
    width: 18px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.textbox-label {
    position: relative;
    cursor: pointer;
    height: 18px;
    /* width: 60px; */
    clear: both;
}
.textbox-label input {
    position: relative;
    /* opacity: 0; */
    cursor: pointer;
    outline: none;
    border: 2px solid #800080;
    border-radius: 4px;
    font-size: 16px;
    color: #800080;
    font-family: Georgia, serif;
    padding-left: 3px;
    caret-color: #800080;
}

.checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #800080;
}
.checkbox-label .checkbox-description {
    /* margin-left: 32px; */
    margin-left: 1.8em;
    line-height: 1.8em;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #800080;
    border-radius: 4px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid gold;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 9px;
    top: 9px;
    height: 0px;
    width: 0px;
    border-radius: 4px;
    border: solid gold;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 5px;
    top: 0px;
    width: 5px;
    height: 11px;
    border: solid gold;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

table {
    border: none;
}
th, td {
    border: 1px solid #800080;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}
tbody {
    font-weight: 300;
}
.delete-name {
    font-family: Georgia, serif;
    font-size: 18px;
    color: #800080;
    background-color: white;
    border: 1px solid #800080;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 5px;
}
.delete-name:hover {
    background-color: gold;
}
#submit-late-form {
    font-weight: bold;
}
#submit-late-form:hover {
    background-color: #9A009A;
}
#delete-late-form {
    max-width: 600px;
}